extends layout

block content
  .wide.jumbotron
    h1 Human Centered Design

  #class-two.container
    h4 How Might We Enable More Young People to Become Social Entrepreneurs?
    .socieal-entrepreneur Social entrepreneurship is the use of the techniques by start up companies and other entrepreneurs to develop, 
      | fund and implement solutions to social, cultural, or environmental issues. 
      | This concept may be applied to a variety of organizations with different sizes, aims, and beliefs.
      | For-profit entrepreneurs typically measure performance using business metrics like profit, revenues and increases in stock prices, 
      | but social entrepreneurs are either non-profits or blend for-profit goals with generating a positive "return to society" and therefore 
      | must use different metrics. Social entrepreneurship typically attempts to further broad social, cultural, and environmental goals often associated 
      | with the voluntary sector in areas such as poverty alleviation, health care and community development.
    
  
