doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/components/jquery/dist/jquery.js")
    
    link(rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap-theme.css")
    script(src="/components/bootstrap/dist/js/bootstrap.js")
    
    link(rel="stylesheet", href="/stylesheets/testStyle.css")
    
  body
    block content
